flows_raspberrypi.json
[{"id":"3e524c82.2ace04","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1c26f47f.65f21c","type":"tab","label":"dashboard","disabled":false,"info":""},{"id":"8c933d07.d9831","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"25631ddb.c32e32","type":"tab","label":"Hello World","disabled":false,"info":""},{"id":"40a12a63.510244","type":"subflow","name":"led State","info":"","category":"","in":[{"x":200,"y":140,"wires":[{"id":"314c9e7c.badcf2"}]}],"out":[{"x":700,"y":100,"wires":[{"id":"d4495ab7.73a998","port":0},{"id":"d4495ab7.73a998","port":3}]},{"x":700,"y":140,"wires":[{"id":"d4495ab7.73a998","port":3},{"id":"d4495ab7.73a998","port":1}]},{"x":700,"y":180,"wires":[{"id":"d4495ab7.73a998","port":2},{"id":"d4495ab7.73a998","port":3}]}]},{"id":"6164bd22.4fda24","type":"subflow","name":"context managment","info":"","category":"","in":[],"out":[]},{"id":"b8c423b6.5bdf5","type":"telegram bot","z":"","botname":"rpi_node_red_bot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"b3e95b0a.206298","type":"nodebot","z":"","name":"pi","username":"","password":"","boardType":"raspi-io","serialportName":"","connectionType":"local","mqttServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","uuid":"","token":"","sendUuid":""},{"id":"6b8ce348.40e79c","type":"ui_tab","z":"","name":"LED","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ecd5720e.be7fd","type":"ui_group","z":"","name":"LED","tab":"6b8ce348.40e79c","disp":true,"width":"6","collapse":false},{"id":"dfcd1318.52c02","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3ae51c66.74b954","type":"ui_tab","z":"","name":"Demo","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"93ac10c9.b4531","type":"ui_group","z":"","name":"Gauges","tab":"3ae51c66.74b954","order":2,"disp":true,"width":"6","collapse":false},{"id":"7b567bb7.fdadb4","type":"ui_group","z":"","name":"Text Output","tab":"3ae51c66.74b954","order":4,"disp":true,"width":"6","collapse":false},{"id":"39372917.b24a86","type":"ui_group","z":"","name":"Inputs","tab":"3ae51c66.74b954","order":1,"disp":true,"width":"6","collapse":false},{"id":"d767b6a2.33e818","type":"ui_group","z":"","name":"Numbers","tab":"4d802a97.049b84","order":1,"disp":false,"width":"5"},{"id":"d1ce928b.27063","type":"ui_group","z":"","name":"Chart","tab":"4d802a97.049b84","order":2,"disp":false,"width":"18"},{"id":"4d802a97.049b84","type":"ui_tab","z":"","name":"Binance Node Demo","icon":"fa-bitcoin","order":3},{"id":"2e891bed.696844","type":"ui_spacer","name":"spacer","group":"dac21697.a631e8","order":1,"width":1,"height":1},{"id":"b7a5b4dd.113068","type":"ui_spacer","name":"spacer","group":"93ac10c9.b4531","order":3,"width":1,"height":1},{"id":"26ae594c.910956","type":"ui_group","z":"","name":"Analog","tab":"","disp":true,"width":"16","collapse":false},{"id":"911fd8c8.0dfb98","type":"watson-conversation-v1","z":"3e524c82.2ace04","name":"","workspaceid":"56829c87-811e-4e50-8f00-8805e264cef9","multiuser":false,"context":false,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-fra.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":740,"y":340,"wires":[["67c1c94d.1af0e8","6132e92.7d36f18"]]},{"id":"49d89359.5fbdcc","type":"telegram receiver","z":"3e524c82.2ace04","name":"","bot":"b8c423b6.5bdf5","saveDataDir":"","x":190,"y":340,"wires":[["2cd50ecc.b6df42","a747cc8b.35c97"],["2cd50ecc.b6df42","a747cc8b.35c97"]]},{"id":"527e37e6.774328","type":"telegram sender","z":"3e524c82.2ace04","name":"","bot":"b8c423b6.5bdf5","x":1690,"y":340,"wires":[[]]},{"id":"f382d811.858208","type":"rpi-gpio out","z":"3e524c82.2ace04","name":"","pin":"7","set":true,"level":"0","freq":"1","out":"out","x":420,"y":200,"wires":[]},{"id":"2cd50ecc.b6df42","type":"debug","z":"3e524c82.2ace04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":210,"y":400,"wires":[]},{"id":"a747cc8b.35c97","type":"switch","z":"3e524c82.2ace04","name":"is message?","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":340,"wires":[["a4670723.124388"],[]]},{"id":"a4670723.124388","type":"function","z":"3e524c82.2ace04","name":"prepare payload","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":340,"wires":[["911fd8c8.0dfb98"]]},{"id":"1e03f47d.d70a6c","type":"function","z":"3e524c82.2ace04","name":"create output","func":"msg.payload.chatId = msg.chatId;\nmsg.payload.type = \"message\";\nif(msg.payload.intents.length > 0){\n    msg.payload.content = msg.entity.value + \" ist \" + msg.intent.value;\n}else{\n    msg.payload.content = \"nicht erkannt\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":340,"wires":[["527e37e6.774328"]]},{"id":"eed8b6e8.9dd228","type":"telegram event","z":"3e524c82.2ace04","name":"answer","bot":"b8c423b6.5bdf5","event":"callback_query","autoanswer":"","x":130,"y":560,"wires":[["20606259.d8abee","aac796f.75a3868"]]},{"id":"2779d2bb.7fe9ee","type":"function","z":"3e524c82.2ace04","name":"ask question","func":"var entity = JSON.stringify({\"inline_keyboard\":[[\n    {\n        \"text\":\"rot\",\n        \"callback_data\":\"rot\"\n    },\n    {\n        \"text\":\"blau\",\n        \"callback_data\":\"blau\"\n    },\n    {\n        \"text\":\"gr端n\",\n        \"callback_data\":\"gr端n\"\n    },\n    {\n        \"text\":\"alle\",\n        \"callback_data\":\"alle\"\n    }\n    ]]});\nvar intent = JSON.stringify({\"inline_keyboard\":[[\n    {\n        \"text\":\"anschalten\",\n        \"callback_data\":\"anschalten\"\n    },\n    {\n        \"text\":\"ausschalten\",\n        \"callback_data\":\"ausschalten\"\n    }\n    ]]});\nvar keyboard = msg.entity.confidence<0.8 ? entity : intent;\nvar opts = {\n    reply_to_message_id: msg.payload.messageId,\n    reply_markup: keyboard\n};\n\nmsg.payload.content = msg.entity.confidence<0.8 ? \"Welche LED?\" : \"Was soll gemacht werden?\";\nmsg.payload.chatId = msg.chatId;\nmsg.payload.type = \"message\"\nmsg.payload.options = opts;\nreturn [msg];","outputs":1,"noerr":0,"x":1510,"y":420,"wires":[["e3826607.6f56a8"]]},{"id":"e3826607.6f56a8","type":"telegram sender","z":"3e524c82.2ace04","name":"","bot":"b8c423b6.5bdf5","x":1690,"y":420,"wires":[["e97a03c7.d10cf"]]},{"id":"592f9ca4.d56cb4","type":"telegram sender","z":"3e524c82.2ace04","name":"","bot":"b8c423b6.5bdf5","x":570,"y":560,"wires":[["3f86d72a.f75258"]]},{"id":"1929c538.d535ab","type":"switch","z":"3e524c82.2ace04","name":"intent confident?","property":"intent.confidence","propertyType":"msg","rules":[{"t":"gt","v":"0.8","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1080,"y":340,"wires":[["bda41b53.f51068"],["2779d2bb.7fe9ee"]]},{"id":"67c1c94d.1af0e8","type":"debug","z":"3e524c82.2ace04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":400,"wires":[]},{"id":"8490ef6c.6a47","type":"rpi-gpio out","z":"3e524c82.2ace04","name":"","pin":"5","set":true,"level":"0","freq":"","out":"out","x":420,"y":140,"wires":[]},{"id":"10a0fcf1.bce9c3","type":"rpi-gpio out","z":"3e524c82.2ace04","name":"","pin":"3","set":true,"level":"0","freq":"","out":"out","x":420,"y":80,"wires":[]},{"id":"20606259.d8abee","type":"debug","z":"3e524c82.2ace04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":320,"y":500,"wires":[]},{"id":"6132e92.7d36f18","type":"function","z":"3e524c82.2ace04","name":"parse result","func":"try{\n    msg.intent = {\n        value: msg.payload.intents[0].intent,\n        confidence: msg.payload.intents[0].confidence\n    };\n} catch(err){\n    msg.intent = {\n        value: \"\",\n        confidence: 0\n    };\n}\ntry{\n    msg.entity = {\n        value: msg.payload.entities[0].entity,\n        confidence: msg.payload.entities[0].confidence\n    };\n} catch(err){\n    msg.entity = {\n        value: \"\",\n        confidence: 0\n    };\n}\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":340,"wires":[["1929c538.d535ab"]]},{"id":"bda41b53.f51068","type":"switch","z":"3e524c82.2ace04","name":"entity confident?","property":"entity.confidence","propertyType":"msg","rules":[{"t":"gt","v":"0.8","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1300,"y":340,"wires":[["1e03f47d.d70a6c","eaea9ef9.42f7f"],["2779d2bb.7fe9ee"]]},{"id":"a60149f5.39d9f8","type":"link in","z":"3e524c82.2ace04","name":"red LED","links":["3555c2eb.511dae","dd4e106f.d88be","e602ad63.41313","9a00f690.b23508"],"x":275,"y":80,"wires":[["10a0fcf1.bce9c3"]]},{"id":"25cab6dd.229f2a","type":"link in","z":"3e524c82.2ace04","name":"blue LED","links":["4612872f.6613a8","3d9270bd.f9114","7a522fcb.f9d7"],"x":275,"y":140,"wires":[["8490ef6c.6a47"]]},{"id":"ee3fc487.a1cab8","type":"link in","z":"3e524c82.2ace04","name":"green LED","links":["aa64dbb2.9ceaa8","43dc3518.c4b58c","f866b830.6fbbf8"],"x":275,"y":200,"wires":[["f382d811.858208"]]},{"id":"3555c2eb.511dae","type":"link out","z":"1c26f47f.65f21c","name":"","links":["a60149f5.39d9f8"],"x":535,"y":80,"wires":[]},{"id":"4612872f.6613a8","type":"link out","z":"1c26f47f.65f21c","name":"","links":["25cab6dd.229f2a"],"x":535,"y":160,"wires":[]},{"id":"aa64dbb2.9ceaa8","type":"link out","z":"1c26f47f.65f21c","name":"","links":["ee3fc487.a1cab8"],"x":535,"y":240,"wires":[]},{"id":"232153d5.90a45c","type":"ui_button","z":"1c26f47f.65f21c","name":"","group":"ecd5720e.be7fd","order":3,"width":0,"height":0,"passthru":false,"label":"rote LED","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":260,"y":80,"wires":[["c889d14a.d2adc"]]},{"id":"c889d14a.d2adc","type":"function","z":"1c26f47f.65f21c","name":"toggle","func":"context.state = context.state | false;\ncontext.state = !context.state\nmsg.payload = context.state ? 1:0;\nif(context.state){\n    node.status({fill:\"green\",shape:\"dot\",text:\"on\"});\n    msg.payload = 1;\n} else {\n    node.status({fill:\"red\",shape:\"ring\",text:\"off\"});\n    msg.payload = 0;\n}\nreturn msg ","outputs":1,"noerr":0,"x":410,"y":80,"wires":[["3555c2eb.511dae","4c91a7b9.340f08"]]},{"id":"c605cb7f.abe5f8","type":"ui_button","z":"1c26f47f.65f21c","name":"","group":"ecd5720e.be7fd","order":3,"width":0,"height":0,"passthru":false,"label":"blaue LED","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":270,"y":160,"wires":[["d4ff89d.ad9cc78"]]},{"id":"d4ff89d.ad9cc78","type":"function","z":"1c26f47f.65f21c","name":"toggle","func":"context.state = context.state | false;\ncontext.state = !context.state\nmsg.payload = context.state ? 1:0;\nif(context.state){\n    node.status({fill:\"green\",shape:\"dot\",text:\"on\"});\n    msg.payload = 1;\n} else {\n    node.status({fill:\"red\",shape:\"ring\",text:\"off\"});\n    msg.payload = 0;\n}\nreturn msg ","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["4612872f.6613a8","aa47a298.dcdc"]]},{"id":"17ff7bba.525c74","type":"ui_button","z":"1c26f47f.65f21c","name":"","group":"ecd5720e.be7fd","order":3,"width":0,"height":0,"passthru":false,"label":"gr端ne LED","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":270,"y":240,"wires":[["5c12a48d.e8433c"]]},{"id":"5c12a48d.e8433c","type":"function","z":"1c26f47f.65f21c","name":"toggle","func":"context.state = context.state | false;\ncontext.state = !context.state\nmsg.payload = context.state ? 1:0;\nif(context.state){\n    node.status({fill:\"green\",shape:\"dot\",text:\"on\"});\n    msg.payload = 1;\n} else {\n    node.status({fill:\"red\",shape:\"ring\",text:\"off\"});\n    msg.payload = 0;\n}\nreturn msg ","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["aa64dbb2.9ceaa8","466c0efd.a9ba"]]},{"id":"f1fa59d8.600708","type":"ui_text_input","z":"1c26f47f.65f21c","name":"","label":"","tooltip":"","group":"39372917.b24a86","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":240,"y":460,"wires":[["354a0b24.334ea4","2b3c03fe.11b93c"]]},{"id":"354a0b24.334ea4","type":"function","z":"1c26f47f.65f21c","name":"clear input","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":520,"wires":[["d5f20bd5.63cd58"]]},{"id":"d5f20bd5.63cd58","type":"delay","z":"1c26f47f.65f21c","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":520,"wires":[["f1fa59d8.600708"]]},{"id":"acfedc45.753bd","type":"ui_slider","z":"1c26f47f.65f21c","name":"","label":"slider1","tooltip":"","group":"39372917.b24a86","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"slider1","min":0,"max":"100","step":1,"x":190,"y":600,"wires":[["4ca656c8.2d4a48","f2ab1e97.254dc"]]},{"id":"4ca656c8.2d4a48","type":"ui_gauge","z":"1c26f47f.65f21c","name":"","group":"93ac10c9.b4531","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge1","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":600,"wires":[]},{"id":"e623f388.d4e88","type":"ui_text","z":"1c26f47f.65f21c","group":"7b567bb7.fdadb4","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":460,"wires":[]},{"id":"2b3c03fe.11b93c","type":"function","z":"1c26f47f.65f21c","name":"","func":"if(context.text === undefined){\n    context.text = \"\";\n}\ncontext.text = context.text + \"\\n\"+ msg.payload;\nmsg.payload = context.text;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":460,"wires":[["e623f388.d4e88"]]},{"id":"f2ab1e97.254dc","type":"ui_chart","z":"1c26f47f.65f21c","name":"","group":"93ac10c9.b4531","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"15","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":390,"y":660,"wires":[[],[]]},{"id":"ac1c428e.2d7d6","type":"ui_slider","z":"1c26f47f.65f21c","name":"","label":"slider2","tooltip":"","group":"39372917.b24a86","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"slider2","min":0,"max":"100","step":1,"x":190,"y":660,"wires":[["f2ab1e97.254dc"]]},{"id":"9c3500fa.8c7a5","type":"ui_text","z":"8c933d07.d9831","group":"d767b6a2.33e818","order":2,"width":"0","height":"0","name":"","label":"Bid Price","format":"{{msg.payload.bidPrice}}","layout":"row-spread","x":840,"y":60,"wires":[]},{"id":"e169ee21.fbafd","type":"ui_chart","z":"8c933d07.d9831","name":"","group":"d1ce928b.27063","order":3,"width":"18","height":"10","label":"","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"Click on a crypto or provide a ticker pair","dot":true,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":930,"y":600,"wires":[[],[]]},{"id":"a5bfa5b2.212c48","type":"function","z":"8c933d07.d9831","name":"built chart data","func":"\nvar series = [msg.topic]\nvar data = msg.payload.map(function (d) {\n return {\n x: d[0],\n y: d[4] // close price\n }\n});\n\nmsg.payload = [{\n series: series,\n data: [data]\n}]\n\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":540,"wires":[["e169ee21.fbafd"]]},{"id":"30bd50e9.a5b52","type":"function","z":"8c933d07.d9831","name":"set values for API","func":"if (typeof msg.payload === 'string') {\n flow.set(\"selectedTickerPair\", msg.payload);\n}\nmsg.topic = flow.get(\"selectedTickerPair\");\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["f50a75e8.68a028","3e6a7228.fbdcfe","279b4495.0174ac","597c142b.4f050c"]]},{"id":"9ef0ec18.45b69","type":"ui_button","z":"8c933d07.d9831","name":"","group":"d1ce928b.27063","order":2,"width":"2","height":"1","passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"selectedTickerPair","payloadType":"flow","topic":"","x":140,"y":60,"wires":[["d48da9f4.b0e438","322e56d5.3584ba"]]},{"id":"23e5231c.2dac9c","type":"ui_button","z":"8c933d07.d9831","name":"","group":"d1ce928b.27063","order":6,"width":"2","height":"1","passthru":false,"label":"Ethereum","color":"","bgcolor":"#555555","icon":"","payload":"ETHBTC","payloadType":"str","topic":"","x":140,"y":140,"wires":[["d48da9f4.b0e438"]]},{"id":"822cd6b.6696f28","type":"ui_button","z":"8c933d07.d9831","name":"","group":"d1ce928b.27063","order":7,"width":"2","height":"1","passthru":false,"label":"Neo","color":"","bgcolor":"#58be02","icon":"","payload":"NEOBTC","payloadType":"str","topic":"","x":130,"y":180,"wires":[["d48da9f4.b0e438"]]},{"id":"2cae120f.a7251e","type":"ui_button","z":"8c933d07.d9831","name":"","group":"d1ce928b.27063","order":4,"width":"2","height":"1","passthru":false,"label":"BTC","color":"","bgcolor":"#ff8e13","icon":"","payload":"BTCUSDT","payloadType":"str","topic":"","x":130,"y":100,"wires":[["d48da9f4.b0e438"]]},{"id":"13ef706f.b38b1","type":"ui_button","z":"8c933d07.d9831","name":"","group":"d1ce928b.27063","order":5,"width":"2","height":"1","passthru":false,"label":"Litecoin","color":"","bgcolor":"#bebebe","icon":"","payload":"LTCBTC","payloadType":"str","topic":"","x":140,"y":220,"wires":[["d48da9f4.b0e438"]]},{"id":"3d207605.84f70a","type":"ui_text","z":"8c933d07.d9831","group":"d767b6a2.33e818","order":3,"width":"0","height":"0","name":"","label":"Ask Price","format":"{{msg.payload.askPrice}}","layout":"row-spread","x":840,"y":100,"wires":[]},{"id":"d48da9f4.b0e438","type":"ui_text_input","z":"8c933d07.d9831","name":"","label":"Ticker pair","tooltip":"","group":"d1ce928b.27063","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":410,"y":120,"wires":[["d10a6bed.0f85a8"]]},{"id":"126429f8.80a196","type":"catch","z":"8c933d07.d9831","name":"","scope":null,"x":140,"y":640,"wires":[["791a4bdb.f7b764","ea365c2b.ea1aa"]]},{"id":"86c64080.d881a","type":"ui_toast","z":"8c933d07.d9831","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":590,"y":640,"wires":[]},{"id":"791a4bdb.f7b764","type":"debug","z":"8c933d07.d9831","name":"","active":true,"console":false,"complete":"error","x":280,"y":680,"wires":[]},{"id":"ea365c2b.ea1aa","type":"function","z":"8c933d07.d9831","name":"","func":"msg.topic = \"API Error\";\nif (msg.error) {\n msg.payload = msg.error.message\n} else {\n msg.payload = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":640,"wires":[["df7d317b.b83d"]]},{"id":"d118c284.9820f","type":"ui_text","z":"8c933d07.d9831","group":"d767b6a2.33e818","order":4,"width":"0","height":"0","name":"","label":"24 hr Low","format":"{{msg.payload.lowPrice}}","layout":"row-spread","x":840,"y":140,"wires":[]},{"id":"2e1aac2b.3a4394","type":"ui_text","z":"8c933d07.d9831","group":"d767b6a2.33e818","order":5,"width":"0","height":"0","name":"","label":"24 hr high","format":"{{msg.payload.highPrice}}","layout":"row-spread","x":840,"y":180,"wires":[]},{"id":"c1563e7c.e7087","type":"ui_text","z":"8c933d07.d9831","group":"d767b6a2.33e818","order":6,"width":"0","height":"0","name":"","label":"24 hr Price % change","format":"{{msg.payload.priceChangePercent}}%","layout":"row-spread","x":880,"y":220,"wires":[]},{"id":"cb62d248.910c4","type":"ui_text","z":"8c933d07.d9831","group":"d767b6a2.33e818","order":7,"width":"0","height":"0","name":"","label":"24 hr volume","format":"{{msg.payload.volume}}","layout":"row-spread","x":850,"y":260,"wires":[]},{"id":"43d26c94.8938a4","type":"ui_button","z":"8c933d07.d9831","name":"","group":"d1ce928b.27063","order":8,"width":"2","height":"1","passthru":false,"label":"Ripple","color":"","bgcolor":"#0086be","icon":"","payload":"XRPBTC","payloadType":"str","topic":"","x":130,"y":260,"wires":[["d48da9f4.b0e438"]]},{"id":"6881a1c0.fa35","type":"ui_slider","z":"8c933d07.d9831","name":"","label":"","group":"d767b6a2.33e818","order":9,"width":0,"height":0,"passthru":true,"topic":"","min":"2","max":"14","step":1,"x":130,"y":580,"wires":[["6a1a6c50.8fa864"]]},{"id":"25670a1d.443ee6","type":"function","z":"8c933d07.d9831","name":"set values for api","func":"\nvar interval = \"1d\";\n\nswitch(msg.payload) {\n case 0:\n interval = \"1m\";\n break;\n case 1:\n interval = \"3m\";\n break;\n case 2:\n interval = \"5m\";\n break; \n case 3:\n interval = \"15m\";\n break;\n case 4:\n interval = \"1h\";\n break;\n case 5:\n interval = \"2h\";\n break;\n case 6:\n interval = \"4h\";\n break;\n case 7:\n interval = \"6h\";\n break;\n case 8:\n interval = \"8h\";\n break;\n case 9:\n interval = \"12h\";\n break;\n case 10:\n interval = \"1d\";\n break;\n case 11:\n interval = \"3d\";\n break;\n case 12:\n interval = \"1w\";\n break;\n case 13:\n interval = \"1M\";\n break;\n}\n\nflow.set(\"interval\", interval);\nmsg.payload = interval;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":580,"wires":[["a939df1e.e98b1","279b4495.0174ac"]]},{"id":"6a1a6c50.8fa864","type":"delay","z":"8c933d07.d9831","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270,"y":580,"wires":[["25670a1d.443ee6"]]},{"id":"4c6ac206.e29d1c","type":"ui_button","z":"8c933d07.d9831","name":"","group":"d1ce928b.27063","order":9,"width":"2","height":"1","passthru":false,"label":"Monero","color":"","bgcolor":"#ff6600","icon":"","payload":"XMRBTC","payloadType":"str","topic":"","x":140,"y":300,"wires":[["d48da9f4.b0e438"]]},{"id":"a939df1e.e98b1","type":"ui_text","z":"8c933d07.d9831","group":"d767b6a2.33e818","order":8,"width":"0","height":"0","name":"","label":"Chart time interval","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":580,"wires":[]},{"id":"775bd324.9a1d9c","type":"inject","z":"8c933d07.d9831","name":"initialize","topic":"10","payload":"10","payloadType":"num","repeat":"","crontab":"","once":true,"x":140,"y":540,"wires":[["6881a1c0.fa35"]]},{"id":"ca23c228.b91eb","type":"ui_numeric","z":"8c933d07.d9831","name":"","label":"# datapoints","tooltip":"","group":"d767b6a2.33e818","order":10,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"500","step":1,"x":150,"y":480,"wires":[["7f86e7d8.8a24a8"]]},{"id":"d996caca.0373c8","type":"inject","z":"8c933d07.d9831","name":"initialize","topic":"30","payload":"30","payloadType":"num","repeat":"","crontab":"","once":true,"x":140,"y":440,"wires":[["ca23c228.b91eb"]]},{"id":"b4193f4f.a4634","type":"function","z":"8c933d07.d9831","name":"set values for api","func":"flow.set(\"limit\", parseInt(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":480,"wires":[["279b4495.0174ac"]]},{"id":"279b4495.0174ac","type":"function","z":"8c933d07.d9831","name":"load chart options","func":"msg.topic = flow.get(\"selectedTickerPair\");\nmsg.payload = {};\nmsg.payload.interval = flow.get(\"interval\");\nmsg.payload.limit = flow.get(\"limit\");\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":480,"wires":[["599f0526.a52fac"]]},{"id":"7f86e7d8.8a24a8","type":"delay","z":"8c933d07.d9831","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":480,"wires":[["b4193f4f.a4634"]]},{"id":"322e56d5.3584ba","type":"ui_toast","z":"8c933d07.d9831","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Refreshing chart","name":"","x":430,"y":60,"wires":[]},{"id":"7e062467.df613c","type":"ui_template","z":"8c933d07.d9831","group":"d767b6a2.33e818","name":"Logo display","order":1,"width":"4","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":850,"y":300,"wires":[[]]},{"id":"597c142b.4f050c","type":"function","z":"8c933d07.d9831","name":"load logo","func":"var symbol = msg.topic.slice(0,-3);\nsymbol = symbol.toLowerCase();\n\nif (symbol === \"btcu\") { // USDT case\n symbol = \"btc\";\n}\n\nvar imgUrl = \"https://raw.githubusercontent.com/cjdowner/cryptocurrency-icons/master/128/color/\"+symbol+\".png\";\n\nmsg.payload = \"<img src='\"+imgUrl+\"'alt='Logo image not found' />\";\n\nreturn msg","outputs":1,"noerr":0,"x":700,"y":300,"wires":[["7e062467.df613c"]]},{"id":"d10a6bed.0f85a8","type":"delay","z":"8c933d07.d9831","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":160,"wires":[["30bd50e9.a5b52"]]},{"id":"bcef4c69.75fff","type":"ui_button","z":"8c933d07.d9831","name":"","group":"d1ce928b.27063","order":9,"width":"2","height":"1","passthru":false,"label":"Stellar","color":"","bgcolor":"#99a2a6","icon":"","payload":"XLMBTC","payloadType":"str","topic":"","x":130,"y":340,"wires":[["d48da9f4.b0e438"]]},{"id":"de599167.9aa6e","type":"ui_button","z":"8c933d07.d9831","name":"","group":"d1ce928b.27063","order":9,"width":"2","height":"1","passthru":false,"label":"Zcash","color":"","bgcolor":"#e49b2e","icon":"","payload":"ZECBTC","payloadType":"str","topic":"","x":130,"y":380,"wires":[["d48da9f4.b0e438"]]},{"id":"df7d317b.b83d","type":"delay","z":"8c933d07.d9831","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":410,"y":640,"wires":[["86c64080.d881a"]]},{"id":"f50a75e8.68a028","type":"binance-get-book-ticker","z":"8c933d07.d9831","name":"","ticker":"","x":660,"y":80,"wires":[["9c3500fa.8c7a5","3d207605.84f70a"]]},{"id":"3e6a7228.fbdcfe","type":"binance-get-day-stats","z":"8c933d07.d9831","name":"","ticker":"","x":650,"y":180,"wires":[["d118c284.9820f","2e1aac2b.3a4394","c1563e7c.e7087","cb62d248.910c4"]]},{"id":"599f0526.a52fac","type":"binance-get-candlesticks","z":"8c933d07.d9831","name":"","ticker":"","interval":"1d","limit":"30","startTime":"","endTime":"","x":900,"y":480,"wires":[["a5bfa5b2.212c48"]]},{"id":"4c91a7b9.340f08","type":"delay","z":"1c26f47f.65f21c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":120,"wires":[[]]},{"id":"aa47a298.dcdc","type":"delay","z":"1c26f47f.65f21c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":200,"wires":[[]]},{"id":"466c0efd.a9ba","type":"delay","z":"1c26f47f.65f21c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":280,"wires":[[]]},{"id":"90598f97.ad01d","type":"ui_toast","z":"1c26f47f.65f21c","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":900,"y":120,"wires":[]},{"id":"e97a03c7.d10cf","type":"function","z":"3e524c82.2ace04","name":"save question context","func":"questionContext = {messageID : msg.payload.sentMessageId,\n                    intent : msg.intent.value,\n                    entity : msg.entity.value,\n                    timestamp : new Date()\n}\nvar context;\nif (flow.get(\"questionContext\")===undefined) {\n    context = [];\n} else {\n    context = flow.get(\"questionContext\");\n}\ncontext.push(questionContext);\nflow.set(\"questionContext\", context);\nreturn msg;","outputs":1,"noerr":0,"x":1920,"y":420,"wires":[[]]},{"id":"be12608.27004a","type":"inject","z":"6164bd22.4fda24","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":550,"y":100,"wires":[["8706ba20.b19dd8"]]},{"id":"8706ba20.b19dd8","type":"function","z":"6164bd22.4fda24","name":"clear old context messages","func":"var context = flow.get(\"questionContext\");\nif (context!==undefined){\n    for (i = 0; i < context.length; i++){\n        var now = new Date();\n        if(now.getTime() - context[i].timestamp.getTime() > 300000){\n            context.splice(i,1);\n        }\n    }\n}\nmsg.payload = context;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":100,"wires":[["24585bac.f4b944"]]},{"id":"24585bac.f4b944","type":"debug","z":"6164bd22.4fda24","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":100,"wires":[]},{"id":"a65fa3cb.418ec","type":"inject","z":"6164bd22.4fda24","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":540,"y":160,"wires":[["c15428e9.ebf2e8"]]},{"id":"c15428e9.ebf2e8","type":"function","z":"6164bd22.4fda24","name":"clear context","func":"flow.set(\"questionContext\",[]);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":160,"wires":[[]]},{"id":"d4495ab7.73a998","type":"switch","z":"40a12a63.510244","name":"pick LED","property":"entity.value","propertyType":"msg","rules":[{"t":"eq","v":"roteLED","vt":"str"},{"t":"eq","v":"blaueLED","vt":"str"},{"t":"eq","v":"grueneLED","vt":"str"},{"t":"eq","v":"alleLEDs","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":520,"y":140,"wires":[[],[],[],[]]},{"id":"314c9e7c.badcf2","type":"function","z":"40a12a63.510244","name":"LED state","func":"if(msg.intent.value == \"anschalten\"){\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["d4495ab7.73a998"]]},{"id":"aac796f.75a3868","type":"function","z":"3e524c82.2ace04","name":"","func":"var states = flow.get(\"questionContext\");\nvar state;\n//get relevant state\nvar found = false;\nfor(i = 0;i <states.length;i++){\n    if(states[i].messageID == msg.payload.messageId){\n        state = states[i];\n        states.splice(i,1);\n        found = true;\n    }\n}\nflow.set(\"questionContext\",states);\n//if the context is not found it is timed out\nif(!found){\n    node.status({fill:\"red\",shape:\"dot\",text:\"fail\"});\n    return [null,null];\n}\n//update state with answer\nif(state.entity === \"\"){\n    state.entity = msg.payload.content;\n    msg.entity = msg.payload.content;\n} else {\n    state.intent = msg.payload.content;\n    msg.intent = msg.payload.content;\n}\n//if the intent is still unclear ask a new question\nif(state.entity === \"\" | state.intent === \"\"){\n    var opts = {\n    reply_to_message_id: msg.payload.messageId,\n    reply_markup: JSON.stringify({\"inline_keyboard\":[[\n    {\n        \"text\":\"anschalten\",\n        \"callback_data\":\"anschalten\"\n    },\n    {\n        \"text\":\"ausschalten\",\n        \"callback_data\":\"ausschalten\"\n    }\n    ]]})\n    };\n    msg.payload.content = \"Was soll gemacht werden?\";\n    msg.payload.type = \"message\"\n    msg.payload.options = opts;\n    msg.intent = {value:state.intent};\n    return [msg, null];\n    \n} else {\n    //if everything is known send to LED\n    switch(state.entity){\n        case \"rot\":\n            state.entity=\"roteLED\";\n            break;\n        case \"blau\":\n            state.entity=\"blaueLED\";\n            break;\n        case \"gr端n\":\n            state.entity=\"grueneLED\";\n            break;\n        case \"alle\":\n            state.entity=\"alleLEDs\";\n            break;\n    }\n    msg.intent = {value:state.intent};\n    msg.entity = {value:state.entity};\n    return [null, msg];\n}\nreturn msg;","outputs":2,"noerr":0,"x":350,"y":560,"wires":[["592f9ca4.d56cb4"],["94ce39fe.be5ac8","220b2216.c3511e"]]},{"id":"3f86d72a.f75258","type":"function","z":"3e524c82.2ace04","name":"save question context","func":"var prevIntent = msg.intent !== undefined ? msg.intent.value : \"\"; \nvar prevEntity = msg.entity !== undefined ? msg.entity.value : \"\"; \n\nquestionContext = {messageID : msg.payload.sentMessageId,\n                    intent : prevIntent,\n                    entity : prevEntity,\n                    timestamp : new Date()\n}\nvar context;\nif (flow.get(\"questionContext\")===undefined) {\n    context = [];\n} else {\n    context = flow.get(\"questionContext\");\n}\ncontext.push(questionContext);\nflow.set(\"questionContext\", context);\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":560,"wires":[["81202994.1f4778"]]},{"id":"94ce39fe.be5ac8","type":"debug","z":"3e524c82.2ace04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":700,"wires":[]},{"id":"c47a70e2.54bd3","type":"rpi-gpio in","z":"3e524c82.2ace04","name":"","pin":"11","intype":"down","debounce":"25","read":false,"x":160,"y":180,"wires":[["f382d811.858208"]]},{"id":"ddd5f485.0f01d8","type":"rpi-gpio in","z":"3e524c82.2ace04","name":"","pin":"13","intype":"down","debounce":"25","read":false,"x":160,"y":80,"wires":[["f382d811.858208","8490ef6c.6a47","10a0fcf1.bce9c3"]]},{"id":"eaea9ef9.42f7f","type":"subflow:40a12a63.510244","z":"3e524c82.2ace04","name":"led state","x":1500,"y":240,"wires":[["9a00f690.b23508"],["7a522fcb.f9d7"],["f866b830.6fbbf8"]]},{"id":"220b2216.c3511e","type":"subflow:40a12a63.510244","z":"3e524c82.2ace04","name":"","x":540,"y":640,"wires":[["e602ad63.41313"],["3d9270bd.f9114"],["43dc3518.c4b58c"]]},{"id":"e602ad63.41313","type":"link out","z":"3e524c82.2ace04","name":"","links":["a60149f5.39d9f8"],"x":715,"y":620,"wires":[]},{"id":"3d9270bd.f9114","type":"link out","z":"3e524c82.2ace04","name":"","links":["25cab6dd.229f2a"],"x":715,"y":660,"wires":[]},{"id":"43dc3518.c4b58c","type":"link out","z":"3e524c82.2ace04","name":"","links":["ee3fc487.a1cab8"],"x":715,"y":700,"wires":[]},{"id":"9a00f690.b23508","type":"link out","z":"3e524c82.2ace04","name":"","links":["a60149f5.39d9f8"],"x":1635,"y":200,"wires":[]},{"id":"7a522fcb.f9d7","type":"link out","z":"3e524c82.2ace04","name":"","links":["25cab6dd.229f2a"],"x":1635,"y":240,"wires":[]},{"id":"f866b830.6fbbf8","type":"link out","z":"3e524c82.2ace04","name":"","links":["ee3fc487.a1cab8"],"x":1635,"y":280,"wires":[]},{"id":"62705eff.e7951","type":"subflow:6164bd22.4fda24","z":"3e524c82.2ace04","name":"","x":730,"y":80,"wires":[]},{"id":"42a178b9.48bf28","type":"inject","z":"25631ddb.c32e32","name":"tick 15","topic":"tempC","payload":"","payloadType":"str","repeat":"15","crontab":"","once":false,"onceDelay":"","x":240,"y":360,"wires":[["17ecac3b.1d7624"]]},{"id":"17ecac3b.1d7624","type":"exec","z":"25631ddb.c32e32","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"read cpu temperature","x":340,"y":440,"wires":[["2c4da2f2.d46bfe"],[],[]]},{"id":"2c4da2f2.d46bfe","type":"function","z":"25631ddb.c32e32","name":"format temperature","func":"msg.payload = Number(msg.payload.slice(5,-3));\nmsg.payload = {cpuTempC:msg.payload}\nreturn msg;","outputs":"1","noerr":0,"x":490,"y":360,"wires":[["f73cee41.0415c"]]},{"id":"7e3138ca.e30218","type":"comment","z":"25631ddb.c32e32","name":"Read Raspberry Pi cpu temperature","info":"Reads the Raspberry Pi cpu temperature every 15 seconds, \nformats the data to tidy up the string and \nthen sends the data to the IBM Watson IOT platform\n\nAfter deploying the example, open the Watson IoT\nnode and click the link button to take you to the \nQuickstartdashboard for your flow.\n","x":320,"y":300,"wires":[]},{"id":"f73cee41.0415c","type":"debug","z":"25631ddb.c32e32","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":380,"wires":[]},{"id":"4b282003.59311","type":"debug","z":"3e524c82.2ace04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":560,"wires":[]},{"id":"81202994.1f4778","type":"function","z":"3e524c82.2ace04","name":"","func":"msg.payload = flow.get(\"questionContext\");\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":560,"wires":[["4b282003.59311"]]}]